apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iota-state
  namespace: security
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp3
