name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-amd64:
    name: Build AMD64
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and push AMD64 image
        id: build-amd64
        uses: open-turo/actions-docker/build@v1
        with:
          dockerhub-user: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image-platform: linux/amd64
          push: true
          metadata-tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest

    outputs:
      digest: ${{ steps.build-amd64.outputs.digest }}
      image-name: ${{ steps.build-amd64.outputs.image-name }}

  build-arm64:
    name: Build ARM64
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build and push ARM64 image
        id: build-arm64
        uses: open-turo/actions-docker/build@v1
        with:
          dockerhub-user: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_PASSWORD }}
          image-platform: linux/arm64
          install-qemu: true
          push: true
          metadata-tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest

    outputs:
      digest: ${{ steps.build-arm64.outputs.digest }}
      image-name: ${{ steps.build-arm64.outputs.image-name }}

  create-manifest:
    name: Create Multi-Arch Manifest
    runs-on: ubuntu-latest
    needs: [build-amd64, build-arm64]

    steps:
      - uses: actions/checkout@v4

      - name: Create multi-arch manifest
        id: manifest
        uses: open-turo/actions-docker/manifest@v1
        with:
          image-name: ${{ needs.build-amd64.outputs.image-name }}
          dockerhub-user: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKERHUB_PASSWORD }}
          metadata-tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
          sources: |
            ${{ needs.build-amd64.outputs.image-name }}@${{ needs.build-amd64.outputs.digest }}
            ${{ needs.build-arm64.outputs.image-name }}@${{ needs.build-arm64.outputs.digest }}

      - name: Run Trivy vulnerability scanner (optional)
        uses: aquasecurity/trivy-action@master
        continue-on-error: true
        with:
          image-ref: ${{ steps.manifest.outputs.manifest }}
          format: "table"
          severity: "CRITICAL,HIGH"
          scan-type: "image"
